*{font-family: 'poppins', sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
    list-style: none;}
    html::-webkit-scrollbar {
        width: 0.5rem;
        background: transparent;
    }
    html::-webkit-scrollbar-thumb {
        border-radius: 5rem;
        background: black;
    }
    section {
        padding: 4rem 0 2rem;
    }
    #compra {
        margin-left: 5vh ;
        flex-direction: column;
        position: relative;
        bottom:-2vh;
    }
    #componentes {
        margin-right: 5vh;
        float: right;
        align-items: center;
        position: relative;
        bottom:80vh;
    }
    nav {
        position: sticky;
        top: 0;
        left: 0;
        background-color: white;
        max-width: 1068px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 35px;
    }
    header {
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }
    #menu-icone {
        font-size: 24px;
        cursor: pointer;
        color: black;
        display: none;
    }
    .logo {
        font-size: 1.2rem;
        font-weight: 700;
        color: black;
    }
    .logo span {
        color: red;
    }
    .barraDeNavegação {
        display: flex;
        column-gap: 2rem;
    }
    .barraDeNavegação a {
        color: black;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500;
    }
    .barraDeNavegação a:hover,
    .barraDeNavegação .ativo {
        color: red;
        border-bottom: 3px solid red;
    }
    #iconeDePesquisa {
        font-size: 24px;
        cursor: pointer;
    }
    .caixaDePesquisa{
        position: absolute;
        top: 110%;
        left: 0;
        right: 0;
        background: white;
        box-shadow: 4px 4px 20px rgb(15, 54, 55 / 10%);
        border: 1px solid red;
        border-radius: 0.5rem;
        clip-path: circle(0% at 100% 0%);
    }
    
    .caixaDePesquisa.active {
        clip-path: circle(144% at 100% 0%);
        transition: 0.7s;
        background-color:white;
    }
    .caixaDePesquisa input {
        width: 100%;
        padding: 20px;
        border: none;
        background: transparent;
        font-size: 1rem;
    }
    #cabeçário {
        margin-top: 15vh;
        margin-left: 40vh;
        padding: 8px;
        align-content: center;
    }
    #cabeçário img {
        border-radius: 5vh;
        margin-left: 20vh;
    }
    #cabeçário h1 {
        font-size: 2.5rem;
        font-weight: 700;
    }
    #cabeçário h3 {
        font-size: 1.5rem;
        font-weight: 500;
        color: red;
    }
    #texto {
        padding: 16px;
    }
    #texto h4 {
        margin-top: 5vh;
        color: red;
        font-size: 1.4rem;
        font-weight: 400;
    }
    #texto p {
        color: black;
        font-size: 1.2rem;
        font-weight: 400;
    }
    .btn {
        position: relative;
        padding: 10px 22px;
        background:red;
        color:white;
        font-weight: 400;
    }
    header.shadow {
        background: white;
        box-shadow: 4px 4px 20px black;
        transition: 0.5s;
    }
